.square {
  width: 400px;
  height: 400px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.yellow {
  color: black;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.gray {
  background-color: gray;
}
